<ion-header>
  <ion-toolbar>
    <ion-title>New dog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input required type="text" id="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Breed</ion-label>
      <ion-select id="breed">
        <ion-select-option value="Chihuahua">Chihuahua</ion-select-option>
        <ion-select-option value="Chow Chow">Chow Chow</ion-select-option>
        <ion-select-option value="Pekingese">Pekingese</ion-select-option>
        <ion-select-option value="Husky">Husky</ion-select-option>
        <ion-select-option value="Corgi">Corgi</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <p>This is an example of how you will see your new dog</p>
    </ion-item>

    <ion-item>
      <ion-thumbnail id="dog" slot="end">
        <img src={{dog.image}}>
      </ion-thumbnail>
      <ion-label>{{dog.name}}, {{dog.breed}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-button (click)="setDogsData()">See how it looks</ion-button>
    </ion-item>
    <ion-item>
      <ion-button id="addDogButton"(click)="addDog()">Add dog</ion-button>
    </ion-item>
    <ion-item>
      <ion-button href="">
          Back to main page
      </ion-button>
    </ion-item>


  </ion-list>

</ion-content>